appdirs==1.4.3
autopep8==1.4.4
cycler==0.10.0
Django==2.2.3
dukpy==0.2.2
future==0.17.1
javascripthon==0.10
Jinja2==2.10.1
jupyter-echarts-pypkg==0.1.2
kiwisolver==1.1.0
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.16.4
pandas==0.24.2
Pillow==8.3.2
prettytable==0.7.2
pycodestyle==2.5.0
pyecharts==0.5.11
pyecharts-extras==0.0.3
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-plus==0.1.7
pyecharts-snapshot==0.2.0
pyee==6.0.0
pyparsing==2.4.0
pyppeteer==0.0.25
python-dateutil==2.8.0
pytz==2019.1
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
tqdm==4.32.1
urllib3==1.25.3
websockets==8.0
